:root {
  --color-primary: #98753c;

  --color-primary-darker: #53a578;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3ebe0;
}

#section--2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__text {
  padding-top: 150px;
}

.slack__img {
  border-radius: 15px;
}
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__description {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 5rem;
  text-align: center;
}

.goals__list h3 {
  text-decoration: none;
  color: rgb(221, 155, 104);
}

.goals__list h3:hover {
  text-decoration: none;
  color: rgb(144, 112, 87);
  transform: translateY(10%);
  cursor: pointer;
}

.section__header {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

#section--3 {
  text-align: center;
}

.btn--text:hover {
  color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  background-color: #333;
  color: rgb(183, 172, 172);
}

.nav.sticky {
  position: fixed;
  background-color: #333;
  opacity: 0.5;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__links a:hover {
  color: #ffcc00;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[data-testid="header__div"] {
  margin-top: 200px;
}

.section__description {
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

h1 {
  margin-top: 80px;
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.border {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.border--1,
.border--3,
.border--5 {
  border-bottom: 20px solid #bd8434;
  border-radius: 50%;
  padding: 25px;
}

.border--2,
.border--4,
.border--6 {
  border-top: 20px solid #bd8434;
  border-radius: 50%;
  padding: 30px;
}

.career-section--header {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5rem;
  text-align: left;
}

.text {
  font-size: 0.9rem;
  text-align: center;
}

.month-header {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 15px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.footer-links a:hover {
  color: #ffcc00;
}

/* MEDIA QUERIES */
/* Mobile */
@media only screen and (max-width: 600px) {
  body {
    width: 600px;
  }

  /* nav */
  .nav__links {
    font-size: 0.4rem;
  }

  .nav__logo {
    font-size: 2rem;
  }

  /* text */
  h1 {
    font-size: 4rem;
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add tablet styles here */
}
